# flyctl launch added from .gitignore
**/__pycache__
**/*documents
**/*decompress
**/*pure

# Environments
**/.env

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml

# flyctl launch added from pure/.gitignore
# created by virtualenv automatically
pure/**/*
fly.toml
